pre, b {
    white-space: pre-wrap;
    /* word-wrap: break-word; */
    font-family: 'Fira Code';
    font-size: 30px;
}

h1, h2 {
   font-family: 'Fira Code'; 
}

img, video {
  width: 900px;
  padding-top: 2.5mm;
  padding-right: 10mm;
  padding-bottom: 2.5mm;
  padding-left: 10mm;
}

/* Used via class="responsive" in any tag */
/* .responsive { */
/*   /* This combination enables responsiveness */ */
/*   width: 100%; */
/*   height: auto; */
/*   /* Due to padding only 95% possible. Padding "moves" the image to the right, hence one has to horizontally scroll to see the full image */ */
/*   max-width: 95%; */
/* } */
